@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    overflow-x: hidden;
  }
  
  main {
    position: relative;
    width: 100vw;
    height: 400vh;
    background-color: #101010;
    background-color: $background-color;
    // padding: 30px 50px;
  }
  
  #nav {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
    height: 10vh;
    z-index: 5;
  
    ul {
      width: 100%;
      display: flex;
      list-style: none;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  
      li {
        position: relative;
        font-family: "Autobusbold";
        font-size: 24px;
        color: $text-color;
        transition: all 0.5s ease;
  
        &:hover {
          cursor: pointer;
          color: $title-color;
        }
      }
    }
  }
  
  .main-section {
    -webkit-user-select: none;
    user-select: none;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    // height: 100%;
  
    .first-section {
      $width: 150px;
      $height: 150px;
      $depth: 150px;
  
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      width: 100%;
      height: 100vh;
      background-color: #101010;
      background-size: cover;
      background-position: center;
      // background: url('../assets/bg/skills.png');
      // background-position: center;
      // background-size: cover;
  
      h1 {
        position: absolute;
        width: 30%;
        color: $text-color;
        text-align: center;
        font-size: 200px;
        font-weight: 200;
        font-family: "Networld";
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $outlight-color,
          0 0 40px $outlight-color, 0 0 50px $outlight-color,
          0 0 60px $outlight-color, 0 0 70px $outlight-color;
  
        span {
          color: $title-color;
        }
      }
  
      .cubic {
        $border-color: rgba(218, 0, 55, 0.545);
        position: relative;
        width: $width;
        height: $height;
        transform-origin: center;
        transform-style: preserve-3d;
        animation: animation 2s linear infinite;
  
        .cubic_side {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-size: cover;
          background-position: center;
          // background-color: rgba(247, 102, 252, 0.314);
          background-color: rgba(0, 0, 0, 0.8);
          border: 3px solid $border-color;
          box-shadow: 0px 0px 20px 1px $border-color;
          // inset 0px 0px 30px 10px $border-color;
  
          &:nth-child(1),
          &:nth-child(2) {
            width: $width;
            height: $height;
            background-image: url("./svg/scss-svgrepo-com.svg");
            background-size: cover;
            transform: translate3d(0, 0, calc($depth * -0.5));
          }
  
          &:nth-child(2) {
            background-image: url("./svg/react-2.svg");
            transform: translate3d(0, 0, calc($depth * 0.5));
          }
  
          &:nth-child(3),
          &:nth-child(4) {
            width: $depth;
            height: $height;
            top: 50%;
            left: 50%;
            background-image: url("./svg/css-3-logo-svgrepo-com.svg");
            transform: translate(-50%, -50%) rotateY(90deg)
              translate3d(0, 0, calc($width * 0.5));
          }
  
          &:nth-child(4) {
            background-image: url("./svg/html-5-logo-svgrepo-com.svg");
            transform: translate(-50%, -50%) rotateY(-90deg)
              translate3d(0, 0, calc($width * 0.5));
          }
  
          &:nth-child(5),
          &:nth-child(6) {
            width: $width;
            height: $depth;
            top: 50%;
            left: 50%;
            background-image: url("./svg/nodejs-icon-logo-svgrepo-com.svg");
            transform: translate(-50%, -50%) rotateX(90deg)
              translate3d(0, 0, calc($height * 0.5));
          }
  
          &:nth-child(6) {
            background-image: url("./svg/js_logo.svg");
            transform: translate(-50%, -50%) rotateX(-90deg)
              translate3d(0, 0, calc($height * 0.5));
          }
        }
      }
  
      #typing-text {
        text-align: center;
        margin-top: 150px;
        border: solid 1px $border-color;
        padding: 0.5em;
        font-size: 32px;
        font-weight: 400;
        font-family: "Autobusbold";
  
        .text,
        .cursor {
          color: $text-color;
        }
        .hi {
          color: $title-color;
        }
      }
  
      .down-btn {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 9999;
  
        img {
          position: absolute;
  
          &:first-child {
            width: 10%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
            // animation: circle-rotate 4s linear 1.5s infinite;
            animation: arrow-ani 0.8s linear 1.5s infinite alternate;
  
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  
    .second-section {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $text-color;
  
      h2 {
        position: absolute;
        width: 30%;
        color: $text-color;
        text-align: center;
        font-size: 200px;
        font-weight: 200;
        font-family: "Networld";
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $outlight-color,
          0 0 40px $outlight-color, 0 0 50px $outlight-color,
          0 0 60px $outlight-color, 0 0 70px $outlight-color;
  
        span {
          color: $title-color;
        }
      }
  
      .left {
        width: 30%;
        height: 100%;
        position: relative;
  
        .frame-2 {
          position: relative;
          // bottom: 15%;
          // left: 0;
          width: 100%;
          opacity: 0;
          transform-origin: center;
  
          img {
            width: 100%;
            z-index: 10;
          }
  
          .text-box {
            position: absolute;
            padding: 10px 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            text-align: left;
            font-family: "Autobusbold";
            font-size: 1.7em;
            font-size: 1.7vw;
            color: $text-color;
            background-image: linear-gradient(
              to bottom right,
              rgb(218, 0, 55, 0.5),
              rgb(16, 16, 16, 0.5)
            );
            box-shadow: 0 0 20px 5px $outlight-color,
              inset 0 0 20px 5px $outlight-color;
            z-index: 5;
  
            span {
              display: flex;
              align-items: center;
              flex-direction: row;
              margin: 10px 0 10px 0;
              img {
                width: 10%;
                margin-right: 15px;
              }
            }
          }
  
          &.active {
            animation: frame-2-ani 0.7s ease-in forwards 1.5s;
          }
        }
      }
  
      .middle {
        width: 35%;
        height: 100%;
        position: relative;
  
        .line-1 {
          position: absolute;
          bottom: 4em;
          left: -50%;
          background: $border-color;
          width: 25em;
          height: 15em;
          opacity: 0;
          transform-origin: 0% 50%;
          clip-path: polygon(
            5% 98%,
            67% 98%,
            98% 55%,
            100% 55%,
            67% 100%,
            0 100%
          );
  
          &.active {
            animation: line-1-ani 0.5s forwards 1s;
          }
        }
  
        .line-2 {
          position: absolute;
          top: 4em;
          right: -50%;
          background: $border-color;
          width: 25em;
          height: 15em;
          opacity: 0;
          transition: width 1s linear;
          clip-path: polygon(
            5% 98%,
            67% 98%,
            98% 55%,
            100% 55%,
            67% 100%,
            0 100%
          );
  
          box-shadow: 0 0 20px 5px $outlight-color;
  
          &.active {
            animation: line-2-ani 0.5s forwards 1s;
          }
        }
  
        .second_circle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          z-index: 5;
          transform-origin: center;
  
          .second_part {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transform-origin: center;
  
            &.active {
              opacity: 1;
              animation: rotate-right 6s linear 1.5s infinite;
            }
          }
        }
  
        .avatar {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
          width: 67%;
          z-index: 10;
          opacity: 0;
  
          &.active {
            animation: avatar-ani 1s ease-out 1s forwards;
          }
        }
      }
  
      .right {
        width: 30%;
        height: 100%;
        position: relative;
  
        .frame-1 {
          position: relative;
          // top: 10%;
          // right: 0;
          width: 100%;
          opacity: 0;
          transform-origin: center;
  
          img {
            width: 100%;
            z-index: 10;
          }
  
          .text-box {
            position: absolute;
            padding: 20px 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            text-align: left;
            font-family: "Autobusbold";
            font-size: 1.7em;
            font-size: 1.5vw;
            color: $text-color;
            background-image: linear-gradient(
              to bottom right,
              rgb(218, 0, 55, 0.5),
              rgb(16, 16, 16, 0.5)
            );
            box-shadow: 0 0 20px 5px $outlight-color,
              inset 0 0 20px 5px $outlight-color;
            z-index: 5;
  
            span {
              display: flex;
              align-items: center;
              flex-direction: row;
              margin: 10px 0 10px 0;
              img {
                width: 10%;
                margin-right: 15px;
              }
            }
          }
  
          &.active {
            animation: frame-1-ani 0.7s ease-in forwards 1.5s;
          }
        }
      }
    }
  
    .third-section {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      color: $text-color;
  
      // background: url('../assets/bg/skills.png');
      // background-position: center;
      // background-size: cover;
  
      h2 {
        position: absolute;
        width: 30%;
        color: $text-color;
        text-align: center;
        font-size: 200px;
        font-weight: 200;
        font-family: "Networld";
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $outlight-color,
          0 0 40px $outlight-color, 0 0 50px $outlight-color,
          0 0 60px $outlight-color, 0 0 70px $outlight-color;
  
        span {
          color: $title-color;
        }
      }
  
      .left {
        position: relative;
        width: 25%;
        height: 100vh;
  
        .third_circle {
          position: relative;
          width: 100%;
          height: 100%;
          transform-origin: center;
  
          &:hover {
            cursor: pointer;
          }
  
          .third_left_circle {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transform-origin: center;
  
            &.active {
              opacity: 1;
              animation: rotate-right-part 4s linear 1.5s infinite;
            }
  
            &.choice {
              animation: rotate-right-part 4s linear forwards;
            }
          }
  
          .third_icon {
            position: absolute;
            width: 35%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            // transition: all 1.5s ease-out;
  
            &.active {
              opacity: 1;
            }
          }
        }
      }
  
      .middle {
        position: relative;
        width: 45%;
        height: 100vh;
  
        .third_main_textbox {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3.5vh;
          font-family: "Mont-Light";
          text-align: center;
          z-index: 15;
          
          &.choice {
            display: block;
          }
          
          h3 {
            font-family: "VarinonormalRegular";
            padding: 10px 20px;
          }
  
  
        }
  
        .third_circle {
          // background-color: $background-color;
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 10;
          transform-origin: center;
  
          .third_part {
            display: none;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transform-origin: center;
  
            &.choice {
              display: block;
            }
  
            &.active {
              opacity: 1;
            }
          }
        }
  
        .third_sub_textbox {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 10;
  
          &.choice {
            opacity: 1;
  
            .sub_texbox_detail {
              position: absolute;
              transform-origin: center;
              font-family: 'Mont-Light';
              font-size: 2.5vh;
  
  
              h4 {
                font-family: 'Mont-Heavy';
                font-size: 3vh;
              }
    
              &:nth-child(1) {
                position: absolute;
                top: 8%;
                left: -25%;
              }
  
              &:nth-child(2) {
                position: absolute;
                top: 8%;
                right: -25%;
                text-align: right;
              }
  
              &:nth-child(3) {
                position: absolute;
                bottom: 8%;
                left: -25%;
              }
  
              &:nth-child(4) {
                position: absolute;
                bottom: 8%;
                right: -25%;
                text-align: right;
              }
            }
  
          }
  
        }
  
        .third_path {
          position: absolute;
          opacity: 0;
          z-index: 10;
  
          &.active {
            &:nth-child(1) {
              animation: path-1-ani 0.7s ease-in forwards 1.5s;
            }
  
            &:nth-child(2) {
              animation: path-2-ani 0.7s ease-in forwards 1.5s;
            }
  
            &:nth-child(3) {
              animation: path-3-ani 0.7s ease-in forwards 1.5s;
            }
  
            &:nth-child(4) {
              animation: path-4-ani 0.7s ease-in forwards 1.5s;
            }
          }
        }
      }
  
      .right {
        position: relative;
        width: 25%;
        height: 100vh;
  
        .third_circle {
          position: relative;
          width: 100%;
          height: 100%;
          transform-origin: center;
  
          &:hover {
            cursor: pointer;
          }
  
          .third_right_circle {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transform-origin: center;
  
            &.active {
              opacity: 1;
              animation: rotate-left-part 4s linear 1.5s infinite;
            }
          }
  
          .third_icon {
            position: absolute;
            width: 35%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            // transition: all 1.5s ease-out;
  
            &.active {
              opacity: 1;
              // animation: avatar-ani 2s ease-in-out 1.5s forwards;
            }
          }
        }
      }
    }
  }
  
  @keyframes animation {
    from {
      transform: translateY(0) rotateX(0) rotateY(0);
    }
  
    to {
      transform: translateY(0) rotateX(360deg) rotateY(360deg);
    }
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  @keyframes avatar-ani {
    from {
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @keyframes rotate-left {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  
  @keyframes rotate-right {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes rotate-left-part {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    25% {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
  
  @keyframes rotate-right-part {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    25% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  
  @keyframes mini-circle-rotate {
    from {
      transform: translate(-50%, -100%) rotate(0);
    }
    to {
      transform: translate(-50%, -100%) rotate(360deg);
    }
  }
  
  @keyframes line-1-ani {
    from {
      // width: 0;
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      // width: 25em;
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes line-2-ani {
    from {
      // width: 0;
      transform: translateY(-20px) rotate(180deg);
      opacity: 0;
    }
    to {
      // width: 25em;
      transform: translateY(0px) rotate(180deg);
      opacity: 1;
    }
  }
  
  @keyframes frame-1-ani {
    from {
      // transform: scale(0);
      transform: translateY(-50px);
      top: 10%;
      right: 0;
      opacity: 0;
    }
    to {
      // transform: scale(1);
      transform: translateY(0);
      top: 10%;
      right: 0;
      opacity: 1;
    }
  }
  
  @keyframes frame-2-ani {
    from {
      transform: translateY(50px);
      top: 42%;
      left: 0;
      opacity: 0;
    }
    to {
      transform: translateY(0);
      top: 42%;
      left: 0;
      opacity: 1;
    }
  }
  
  @keyframes arrow-ani {
    from {
      transform: translate(-50%, -80%);
    }
    to {
      transform: translate(-50%, -100%);
    }
  }
  
  @keyframes path-1-ani {
    from {
      opacity: 0;
      top: 0;
      left: -25%;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      top: 0;
      left: -25%;
      transform: translateY(0px);
    }
  }
  
  @keyframes path-2-ani {
    from {
      opacity: 0;
      top: 0;
      right: -25%;
      transform: translateY(30px) rotateY(180deg);
    }
    to {
      opacity: 1;
      top: 0;
      right: -25%;
      transform: translateY(0px) rotateY(180deg);
    }
  }
  
  @keyframes path-3-ani {
    from {
      opacity: 0;
      left: -25%;
      bottom: 0%;
      transform: translateY(-30px) rotateX(180deg);
    }
    to {
      opacity: 1;
      left: -25%;
      bottom: 0%;
      transform: translateY(0px) rotateX(180deg);
    }
  }
  
  @keyframes path-4-ani {
    from {
      opacity: 0;
      right: -25%;
      bottom: 0%;
      transform: translateY(-30px) rotateY(180deg) rotateX(180deg);
    }
    to {
      opacity: 1;
      right: -25%;
      bottom: 0%;
      transform: translateY(0px) rotateY(180deg) rotateX(180deg);
    }
  }
  
  @keyframes third_main_textbox_ani {
    from {
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @keyframes textbox-1-ani {
    from {
      opacity: 0;
      top: 10;
      left: -25%;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      top: 10;
      left: -25%;
      transform: translateY(0px);
    }
  }
}