@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  background-color: $background-color;
  // font-family: "PriceDown";
  width: 100vw;
  height: 200vh;
  // padding: 30px 50px;
}

#nav {
  position: absolute;
  top:0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  width: 100vw;
  height: 10vh;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li {
      font-family: "Autobusbold";
      font-size: 24px;
      color: $text-color;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        color: $title-color;
      }
    }
  }
}

.main-section {
  -webkit-user-select: none;
  user-select: none;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // height: 100vh;

  .first-section {
    $width: 150px;
    $height: 150px;
    $depth: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100vh;
    background-color: #101010;
    background-size: cover;
    background-position: center;

    h1 {
      position: absolute;
      width: 30%;
      color: $text-color;
      text-align: center;
      font-size: 200px;
      font-weight: 200;
      font-family: "Networld";
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $outlight-color,
        0 0 40px $outlight-color, 0 0 50px $outlight-color, 0 0 60px $outlight-color, 0 0 70px $outlight-color;

      span {
        color: $title-color;
      }
    }

    .cubic {
      $border-color: rgba(218, 0, 55, 0.545);
      position: relative;
      width: $width;
      height: $height;
      transform-origin: center;
      transform-style: preserve-3d;
      animation: animation 2s linear infinite;

      .cubic_side {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        // background-color: rgba(247, 102, 252, 0.314);
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid $border-color;
        box-shadow: 0px 0px 20px 1px $border-color;
        // inset 0px 0px 30px 10px $border-color;

        &:nth-child(1),
        &:nth-child(2) {
          width: $width;
          height: $height;
          background-image: url("./svg/scss-svgrepo-com.svg");
          background-size: cover;
          transform: translate3d(0, 0, calc($depth * -0.5));
        }

        &:nth-child(2) {
          background-image: url("./svg/react-2.svg");
          transform: translate3d(0, 0, calc($depth * 0.5));
        }

        &:nth-child(3),
        &:nth-child(4) {
          width: $depth;
          height: $height;
          top: 50%;
          left: 50%;
          background-image: url("./svg/css-3-logo-svgrepo-com.svg");
          transform: translate(-50%, -50%) rotateY(90deg)
            translate3d(0, 0, calc($width * 0.5));
        }

        &:nth-child(4) {
          background-image: url("./svg/html-5-logo-svgrepo-com.svg");
          transform: translate(-50%, -50%) rotateY(-90deg)
            translate3d(0, 0, calc($width * 0.5));
        }

        &:nth-child(5),
        &:nth-child(6) {
          width: $width;
          height: $depth;
          top: 50%;
          left: 50%;
          background-image: url("./svg/nodejs-icon-logo-svgrepo-com.svg");
          transform: translate(-50%, -50%) rotateX(90deg)
            translate3d(0, 0, calc($height * 0.5));
        }

        &:nth-child(6) {
          background-image: url("./svg/js_logo.svg");
          transform: translate(-50%, -50%) rotateX(-90deg)
            translate3d(0, 0, calc($height * 0.5));
        }
      }
    }

    #typing-text {
      text-align: center;
      margin-top: 150px;
      border: solid 1px $border-color;
      padding: 0.5em;
      font-size: 32px;
      font-weight: 400;
      font-family: "Autobusbold";

      .text,
      .cursor {
        color: $text-color;
      }
      .hi {
        color: $title-color;
      }
    }
  }
}

@keyframes animation {
  from {
    transform: translateY(0) rotateX(0) rotateY(0);
  }

  to {
    transform: translateY(0) rotateX(360deg) rotateY(360deg);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
